<%= turbo_frame_tag dom_id(user, :status) do %>
  <% if OnlineStatusTracker.online?(user.id) %>
    <span class="text-xs text-green-400">Online now</span>
  <% elsif user.last_seen_at.present? %>
    <span class="text-xs text-gray-400"
          data-controller="time-formatter"
          data-time-formatter-target="time"
          data-utc-time="<%= user.last_seen_at.utc.iso8601 %>">
      Last seen today at loading...
    </span>
  <% else %>
    <span class="text-xs text-gray-400">Last seen unknown</span>
  <% end %>
<% end %>
